.middle_box {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.bar_wrapper {
  width: 100%;
  height: 14px;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
  background-color: #f4f5f9;
  margin-bottom: 15px;

  .bar_progress {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 30px;
  }
}
